@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/* Общие правила */
html {
  height: 100%;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  line-height: 26px;

  height: 100%;
  margin: 0;

  background-color: #f2f2f2;
  color: #333;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-wrapper {
  background-color: #fff;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.button {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
}

/* Шапка сайта */
.header {
  padding: 0 70px;
  display: flex;
}

/* Навигация */
.navigation {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;

  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.navigation-logo-link {
  margin-right: 28px;
}

.navigation-logo {
  vertical-align: bottom;
  position: relative;
  margin-bottom: -6px;
}

.menu-wrapper {
  width: 500px;
}

.menu-wrapper, .user-menu-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.menu-wrapper .navigation-link {
  padding: 20px 16px;
}

.user-menu-wrapper .navigation-link {
  padding: 0 13px;
}

.navigation-link {
  color: #000;
  text-decoration: none;
}

.favorites-count {
  color: #fff;
  background-color: #7db54f;

  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
}

.navigation-button {
  background-color: #756157;
  font-size: 16px;
  line-height: 20px;

  padding: 8px 34px;
  border-radius: 4px;
}

/* Главная страница */
/* Блок герой */
.hero {
  text-align: center;
}

.hero-logo-wrapper {
  background: url("../images/divider.svg") 0 100%/100% no-repeat, url("../images/index-hero-background.jpg") 0 0/100% no-repeat;
  padding-top: 52px;
  padding-bottom: 75px;
}

/* Обнуление отступов */
.hero-description,
.hero-title {
  margin: 0;
}

.hero-title {
  font-size: 30px;
  line-height: 36px;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.hero-description-wrapper {
  padding-top: 69px;
  padding-bottom: 90px;
}

/* Особенности */
.features-list,
.accommodations-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.features-item,
.accommodations-item {
  text-align: center;
  width: 400px;
  /* width убрать после добавления grid-сетки */
}

.features-title,
.accommodations-title {
  font-size: 24px;
  line-height: 28px;
  color: #000;
  text-transform: uppercase;
}

.features-description,
.accommodations-description {
  font-size: 18px;
  line-height: 21px;
}

.features-text-wrapper {
  padding: 0 85px;
}

.blue {
  background-color: #82b3d3;
  color: #fff;
}

.blue .features-title {
  color: inherit;
}

.white {
  background-color: rgba(131, 179, 211, 0.12);
}

.grey {
  background-color: rgba(131, 179, 211, 0.2);
}

/* Поиск гостиницы */
.search {
  text-align: center;
  padding: 0 305px;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  color: #000;
  text-transform: uppercase;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #756157;
}

/* Рассылка */
.newsletter {
  text-align: center;
  padding: 0 260px;
}

.newsletter-wrapper {
 padding: 0 105px;
}

.newsletter-background {
  background: #82b3d3 url("../images/newsletter-background.jpg") 0 0/cover no-repeat;
  color: #fff;
}

.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  color: #000;
  text-transform: uppercase;
}

.newsletter-background .newsletter-title {
  color: #fff;
}

.newsletter-button {
  background-color: #82b3d3;
  font-size: 20px;
  line-height: 36px;
}

.newsletter-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
}

/* Страница каталога */
/* Фильтрация гостиниц */
.filter-wrapper {
  color: #fff;
  background: #82b3d3 url("../images/catalog-header-background.jpg") 0 0/cover no-repeat;
  padding: 0 70px;
}

.catalog-title {
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
  list-style-type: none;
  padding: 0;
}

.filter-form {
  display: flex;
}

.filter-infrastructure,
.filter-housing,
.filter-price {
  width: 150px;
  padding: 0;
  margin: 0;
}

.filter-infrastructure {
  margin-right: 70px;
}

.filter-housing {
  margin-right: 140px;
}

.filter-price {
  width: 290px;
  margin-right: 70px;
}

.filter-button-wrapper {
  width: 200px;
}

.control-title {
  font-size: 20px;
  line-height: 24px;
}

.control {
  font-size: 18px;
  line-height: 23px;
}

.filter-button {
  font-size: 16px;
  line-height: 20px;
  background-color: #82b3d3;
}

.reset-button {
  background-color: rgba(0, 0, 0, 0);
}

/* Сортировка и способ отображения */
.cards {
  padding: 0 70px;
}

.sort-wrapper {
  display: flex;
}

.cards-title {
  font-size: 30px;
  line-height: 36px;
  color: #000;
  text-transform: uppercase;
  margin-right: 200px;
}

.cards-sort {
  font-size: 18px;
  line-height: 21px;
  color: #333;

  width: 290px;
  margin-right: 70px;
}

.cards-display {
  text-align: center;
  width: 160px;

}

.display-button {
  color: #000;
}

/* Карточки гостиниц */
.card-link {
  text-decoration: none;
}

.card-title {
  color: #000;
  font-size: 24px;
  line-height: 28px;
}

.card-type,
.card-price {
  font-size: 18px;
  line-height: 21px;
}

.card-button {
  font-size: 16px;
  line-height: 20px;
  background-color: #756157;
}

.favorites-button {
  font-size: 16px;
  line-height: 20px;
  background-color: #82b3d3;
}

.favorites-button-active {
  background-color: #7db54f;
}

.rating {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  background-color: #f2f2f2;
}

/* Нумерация страниц */
.pagination-block {
  font-size: 20px;
  line-height: 36px;
}

.pagination {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.pagination-link {
  width: 60px;
  background-color: #82b3d3;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.pagination-spacing {
  width: 60px;
  text-align: center;
}

.pagination-link-current {
  background-color: #f2f2f2;
  color: #000;
}

/* Подвал страницы */

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
}

.phone-link {
  font-size: 40px;
  line-height: 40px;
  color: #000;
  text-decoration: none;
}
